<h1 class="text-center"><%= @type.name.capitalize.pluralize %></h1>
<hr/>

<div id="masonry-container" class="transitions-enabled centered clearfix masonry">

<% @type.posts.each do |post| %>

<%= render 'shared/tree', :post => post %>

<% end %>

</div>