<h1 class="text-center">Posts by <%= link_to @author.name, @author_url %></h1>
<hr/>

<div id="masonry-container" class="transitions-enabled centered clearfix masonry">

<% @author.posts.each do |post| %>

<%= render 'shared/tree', :post => post %>

<% end %>

</div>