
<h1><%= @user.name %></h1>
<p>Email: <%= @user.email if @user.email %></p>

<h2>Latest Posts</h2>

<div class="row">
	<% @user.posts.each do |post| %>
		<div class="span3">
			<h3>
				<%= post.title if post.title %>
			</h3>
			<%= image_tag(post.image) if post.image %>
		</div>
	<% end %>
</div>
