<div class="jumbotron well text-center">
        <h1>Welcome to EmbedTree</h1>
        <hr/>
        <br/>
        <p class="lead">Increasing Serendipitous Discovery Across the Internets. </p>
        <p>If you're curious, then signup via the big green button below to take a sneak peak and start posting.</p>
        <br/>
        <p><%= link_to "Sign up here", new_user_registration_path, :class=> "btn btn-lg btn-success	" %></a></p>
      </div>