
<div class="row text-center">
	<h1 class=''>Latest Leaves</h1>
	<hr/>


  <ul class="nav nav-tabs">
    <li class="active"><a href="#featured" data-toggle="tab">Featured</a></li>
  </ul>

      <div id="masonry-container" class="transitions-enabled centered infinite-scroll clearfix masonry">
          <% @hot_posts.each do |post| %>
            <%= render 'shared/tree', :post => post %>
          <% end %>
      </div>

      <div id="paginator">
        <%= paginate @cat_posts %>
      </div>

</div>



<script type="text/javascript">

$(function(){ 

  $('#myTab a').click(function (e) {
    e.preventDefault()
    $(this).tab('show')
  })

 
</script>