<h1>Connect <% if current_user %>
<%= current_user.name %>
<% end %> to a Facebook Page</h1>

<button id="facebook-connect" class="btn btn-large"><i class="icon icon-fb"></i>Facebook Connect</button>

<div id="fb-root"></div>
    <script>
      window.fbAsyncInit = function() {
        // init the FB JS SDK
        FB.init({
          appId      : '1440239169528450',                        // App ID from the app dashboard
          status     : true,                                 // Check Facebook Login status
          xfbml      : true,                                  // Look for social plugins on the page
          authResponse : true,
          signedRequest : true
        });

        // Additional initialization code such as adding Event Listeners goes here

        $('#facebook-connect').on('click', function(){
              FB.ui({
                  method: 'pagetab',
                  app_data: '<% if current_user %><%= current_user.name %><% end %>',
                  redirect_uri: 'http://embedtree.com/facebook'
                }, function(response){

                    console.log(response);
                    console.log(response.tabs_added);
                    console.log(response.authResponse);

                    $.ajax({
                        url: '/facebookpage', //sumbits it to the given url of the form
                        mehod: 'post'
                        data: {('user_id', '<% if current_user %><%= current_user.name %><% end %>'), 
                                ('fb_page_id', response.tabs_added[0])
                              },
                        dataType: "JSON" // you want a difference between normal and ajax-calls, and json is standard
                    }).success(function(json){
                        //act on result.
                        console.log("success" + response.tabs_added);
                    });

                });

        })

      };

      // Load the SDK asynchronously
      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/all.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>
