<h1>About </h1>
<hr />

<div class='well text-center'>
	<p>Posting content to Embedtree is simple, just enter any link up-top and we'll automagically embed and rich media within into our feeds.</p>

	<p>Across the site you'll find different curation tools, curators and discovery channels.</p>

	<p><%= link_to "Sign up here", new_user_registration_path, :class=> "btn btn-lg btn-success	" %></a></p>
</div>