
<div class="row text-center">
	<h1 class=''><%= pluralize(@posts.count, 'Post') %> Tagged : <%= @tag.capitalize %></h1>
	<hr/>


	<div id="masonry-container" class="transitions-enabled centered clearfix masonry">
	    <% @posts.reverse.each do |post| %>
	      <%= render 'shared/tree', :post => post %>
	    <% end %>
	</div>
</div>
