
<div class="row text-center">
	<h1 class=''>Tagged : <%= @tag.capitalize %></h1>
	<hr/>


	<div id="masonry-container" class="transitions-enabled centered clearfix masonry">

	    <% @posts.reverse.each do |post| %>
	      <%= render 'shared/tree', :post => post %>
	    <% end %>
	</div>
</div>

<script type="text/javascript">

 $('img').load(function(){
            $('#masonry-container').masonry();
        });

$(function(){  
  $('#masonry-container').masonry({
    itemSelector: '.box',
    isFitWidth: true

  });

});

</script>