<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "EmbedTree | Increasing Serendipity" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "EmbedTree" %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.js"></script>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body class="<%= controller_name %> <%= action_name %>">
    <div id="wrap">
      <div id="main" role="main">
        <div class="container">
          <div class="content">
             <div class="row">
              <div class="span8 offset2">
                <%= render 'layouts/messages' %>
                <%= yield %>
              </div>
            </div>

          </div>
        </div> <!--! end of .container -->
      </div> <!--! end of #main -->

      <div id="push"></div>
    </div>
    <footer>
        <hr/>
          <section class="text-center">
            
            <div>EmbedTree &copy; <%= Time.now.year %> </div>
          </section>
    </footer>
  </body>
</html>
